@media only screen and (max-width: 1150px) {
  .navbar {
    padding: 20px !important;
  }

  #scrolldown {
    right: -10px !important;
  }

  .logo {
    padding-right: 0 !important;
    display: none;
  }

  .social-network {
    float: left !important;
  }

  .icons ul {
    left: 0px !important;
    position: relative;
    margin-left: 0px !important;
  }

  .icons li {
    margin: 0px !important;
    padding: 0px !important;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 550px) {
  .social-network li a {
    font-size: 23px !important;
  }

  .icon {
    width: 41px !important;
  }

  .nav-item a {
    font-size: 16px !important;
    margin: 0 !important;
    white-space: nowrap !important;
    padding: 0 !important;
  }
}

@media only screen and (max-width: 1700px) and (min-width: 1200px) {
  .textcontent p:first-child {
    font-size: 35px !important;
  }

  .textcontent {
    padding: 0px !important;
  }

  .textcontent p {
    font-size: 21px !important;
  }
  .social-network li a {
    font-size: 29px !important;
  }

  .icon {
    width: 50px !important;
  }

  .nav-item a {
    font-size: 14px !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .nav-item a {
    font-size: 21px !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .landingpagetext {
    font-size: 7rem;
  }
}

@media only screen and (max-width: 1150px) and (min-width: 551px) {
  #content {
    width: 90vw !important;
  }
  .textcontent {
    padding: 0px !important;
  }

  .textcontent p:first-child {
    font-size: 25px !important;
  }

  .textcontent p {
    font-size: 16px !important;
  }

  .landingpagetext {
    font-size: 5rem;
  }

  .upcomingwrapper {
    width: 750px;
  }

  .smallfont {
    font-size: 0.8rem !important;
  }

  .bigfont {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 850px) {
  .social-network {
    z-index: -123;
  }
}

@media only screen and (max-width: 550px) {
  div .joinusthingy h1,
  div .joinusthingy p {
    font-size: 50px !important;
  }

  #bigTextFont {
    font-size: 50px !important;
    font-weight: 700;
    letter-spacing: 4px;
  }

  .outer2 h1 {
    text-align: left !important;
    width: 50vw !important;
    font-weight: 500 !important;
    font-size: 30px;
  }

  .outer2 p {
    text-align: left !important;
    width: 50vw !important;
    font-weight: 500 !important;
    font-size: 24px;
  }

  .textcontent p:first-child {
    font-size: 20px !important;
  }

  #content {
    width: 90vw !important;
  }

  .textcontent {
    padding: 0px !important;
  }

  .textcontent p {
    font-size: 14px !important;
  }

  .landingpagetext {
    font-size: 5rem;
  }

  .breakformobile {
    flex-basis: 100%;
  }

  .description {
    padding-bottom: 100px;
  }

  .upcomingwrapper {
    width: 300px;
  }

  .upcomingwrapper h7 {
    font-size: 14px !important;
  }

  .bigfont {
    font-size: 3.4rem;
  }

  .display-2 {
    font-size: 50px !important  ;
  }
}
