@media only screen and (max-width: 980px) {
  .navbar-nav {
    display: flex !important;
    text-align: left !important;
  }

  #navbarSupportedContent,
  .collapse,
  .navbar-nav,
  .navbar-collapse {
    background-color: white !important;
  }

  #navbarSupportedContent {
    margin: auto 50px auto auto !important;
  }
  /* 
  #navbarSupportedContent * {
    color: black !important;
  } */

  .navbar-toggler-icon,
  .navbar-light .navbar-toggler {
    border-color: white !important;
    background-color: white !important;
  }

  .nav-item a {
    color: black !important;
    padding: 10px !important;
  }

  .navbar {
    padding: 20px !important;
  }

  #scrolldown {
    right: -10px !important;
  }

  .logo {
    padding-right: 0 !important;
    display: none;
  }

  .social-network {
    float: left !important;
  }

  .icons ul {
    left: 0px !important;
    position: relative;
    margin-left: 0px !important;
  }

  .icons li {
    margin: 0px !important;
    padding: 0px !important;
  }
}

@media only screen and (max-width: 1250px) and (min-width: 550px) {
  .social-network li a {
    font-size: 23px !important;
  }

  .social-network li a {
    font-size: 29px !important;
  }

  .textcontent {
    margin: auto !important;
    width: 100vw !important;
  }

  .textcontent p:first-child {
    font-size: 21px !important;
  }

  .textcontent p {
    font-size: 20px !important;
  }

  .icon {
    width: 41px !important;
  }

  .logo-img {
    display: none !important;
  }

  .nav-item a {
    font-size: 16px !important;
    margin: 0 !important;
    white-space: nowrap !important;
  }

  .landingpagetext {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 1700px) and (min-width: 1250px) {
  .textcontent {
    margin: 20px !important;
  }

  .social-network li a {
    font-size: 29px !important;
  }

  .icon {
    width: 50px !important;
  }

  .nav-item a {
    font-size: 14px !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .nav-item a {
    font-size: 19px !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .landingpagetext {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 1150px) and (min-width: 551px) {
  #content {
    width: 90vw !important;
  }

  .textcontent p:first-child {
    font-size: 25px !important;
  }
  /* 
  .textcontent p {
    font-size: 16px !important;
  } */

  .landingpagetext {
    font-size: 3rem;
  }

  .upcomingwrapper {
    width: 750px;
  }

  .smallfont {
    font-size: 0.8rem !important;
  }

  .bigfont {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 550px) {
  .textcontent {
    margin: auto !important;
    width: 100vw !important;
  }

  .textcontent p:first-child {
    font-size: 17px !important;
  }

  .textcontent p {
    font-size: 15px !important;
  }

  div .joinusthingy h1,
  div .joinusthingy p {
    font-size: 50px !important;
  }

  #bigTextFont {
    font-size: 50px !important;
    font-weight: 700;
    letter-spacing: 4px;
  }

  .outer2 h1 {
    text-align: left !important;
    width: 50vw !important;
    font-weight: 500 !important;
    font-size: 30px;
  }

  .outer2 p {
    text-align: left !important;
    width: 50vw !important;
    font-weight: 500 !important;
    font-size: 24px;
  }

  #content {
    width: 90vw !important;
  }

  .landingpagetext {
    font-size: 4rem;
  }

  .breakformobile {
    flex-basis: 100%;
  }

  .description {
    padding-bottom: 50px;
  }

  .upcomingwrapper {
    width: 300px;
  }

  .upcomingwrapper h7 {
    font-size: 14px !important;
  }

  .bigfont {
    font-size: 3.4rem;
  }

  .display-2 {
    font-size: 50px !important  ;
  }
}

@media only screen and (max-width: 1000px) {
  .card {
    grid-column-end: span 6;
  }
}

@media only screen and (max-width: 700px) {
  main {
    grid-gap: 20px;
  }
  .card {
    grid-column-end: span 12;
  }
}

@media only screen and (max-width: 500px) {
  main {
    grid-template-columns: 10px repeat(6, 1fr) 10px;
    grid-gap: 10px;
  }
  .cards {
    grid-column: 2 / span 6;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }
  .card {
    grid-column-end: span 6;
  }
}

@media (min-width: 500px) {
  #btnScroll {
    margin: 30px;
  }
}

@media screen and (max-width: 600px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

@keyframes scrolling {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translate(0, 20px);
  }

  100% {
    transform: translate(0);
  }
}

@media screen and (min-width: 601px) {
  .container {
    max-width: 80%;
  }

  .toggle-bar {
    display: inline-block;
  }

  .layout.layout--collage .image {
    position: relative;
    overflow: hidden;
  }
  .layout.layout--collage .image:hover .description {
    bottom: 0;
  }
  .layout.layout--collage .description {
    -webkit-transition: bottom 0.6s ease-in-out;
    transition: bottom 0.6s ease-in-out;
    padding: 5px 0 0px 0;
    margin: 0;
    position: absolute;
    width: 100%;
    max-height: 100%;
    bottom: -100%;
    left: 0;
    background-color: #fff;
    color: #2d2d2d;
    opacity: 0.8;
  }
  .layout.layout--collage .description h1 {
    font-size: 24px;
  }
  .layout.layout--collage .description p {
    font-size: 16px;
    max-width: 90%;
  }

  .layout.layout--collage .image--5 {
    flex-basis: 100%;
  }

  .layout.layout--collage .image--2 {
    flex-basis: 49%;
  }
  .layout.layout--collage .image--3 {
    flex-basis: 32%;
  }
  .layout.layout--collage .image--3-of-5 {
    flex-basis: 50%;
  }
  .layout.layout--collage .image--2-of-5 {
    flex-basis: 40%;
    position: relative;
    overflow: hidden;
  }
  .layout.layout--collage .image--2-of-5 img {
    position: absolute;
    height: 100%;
    width: auto;
  }
}

@media only screen and (max-width: 450px) {
  .mycard img {
    margin: auto !important;
    width: 350px !important;
  }
}

@media only screen and (max-width: 350px) {
  .mycard img {
    margin: auto !important;
    width: 250px !important;
  }
}
