/* footer starts here */
.footer {
  background: #152f4f;
  color: white;
}

.footer .links li a {
  color: white;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.footer .links li a:hover {
  text-decoration: none;
  color: #4180cb;
}
.footer .about-company i {
  font-size: 25px;
}
.footer .about-company a {
  color: white;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.footer .about-company a:hover {
  color: #4180cb;
}
.footer .location i {
  font-size: 18px;
}
.footer .copyright p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
/* footer ends here */

li {
  display: inline-block;
}

.card {
  grid-column-end: span 4;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease 0s;
}

.joinbtn:hover {
  transform: translateY(-5px) translateX(3px);
}

.joinbtn {
  transition: all 0.3s ease 0s;
}

.mycard {
  width: 380px;
  margin: 20px 20px 0px 20px;
  border-radius: 5px;
  position: relative;
  background-color: transparent;
}

.flexcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.breakformobile {
  flex-basis: 0%;
}

.break {
  flex-basis: 100%;
}

.mycontent h4 {
  padding: 7px 0px 0px 0px;
}

.textcontent {
  padding: 50px;
}

.textcontent p {
  width: auto !important;
  font-size: 21px !important;
}

.behind5 {
  background-image: url("./assets/bigimgs/teamwork.jpg");
  width: 100%;
  height: 40vh;
  position: relative;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.behind3 {
  background-image: url("./assets/bigimgs/welikeyoutoo.jpg");
  width: 100%;
  height: 100vh;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.behind2 {
  background-image: url("./assets/bigimgs/haumc2.jpeg");
  width: 100%;
  height: 100vh !important;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.landingpage {
  background-image: url("./assets/bigimgs/landingwallpaper.jpg");
  background-attachment: fixed;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 100vh !important;
  max-height: 100vh;
  overflow-y: scroll;
  position: absolute;
  left: 0;
  top: 0;
}

.centerGrid {
  place-items: center;
  display: grid;
}

.ladningwrap {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.contactlist i {
  font-size: 25px;
}

.contactlist p {
  font-weight: 400 !important;
}

.contactlist ul li {
  list-style: bullet !important;
  display: list-item !important;
}

.myheadingunderline {
  text-align: center;
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding: 0;
}

.myheadingunderline h1 {
  font-weight: 300;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}

#whoweare {
  width: 100%;
  height: 100vh;
  color: white;
}

#btnScroll {
  display: inline-block;
  background-color: #31404f;
  width: 50px;
  height: 51px;
  text-align: center;
  border-radius: 1px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#btnScroll::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#btnScroll:hover {
  cursor: pointer;
  background-color: #333;
}

#btnScroll:active {
  background-color: #555;
}

#btnScroll.show {
  opacity: 1;
  visibility: visible;
}

select {
  background: url(./assets/other/arrow.png) no-repeat right;
  -webkit-appearance: none;
  background-position-x: 97%;
}

select::-ms-expand {
  display: none;
}

input[type="text"],
input[type="email"],
select,
input[type="number"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.navbar-collapse,
.navbar-nav,
.collapse,
.navbar {
  padding: 0 !important;
  width: 100%;
}

#events {
  position: relative;
  top: -100px;
}

#awards {
  position: relative;
  top: -100px;
}

#findus {
  position: relative;
  top: -100px;
}

#contact {
  position: relative;
  top: -100px;
}

.box4 {
  background-color: #31404f;
  width: 100px;
}

.box2 {
  background-color: lightgray;
}

.centerflex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dateupcoming {
  padding: 0 !important;
  color: white;
}

.bigfont {
  font-size: 3.3rem;
}

.upcomingwrapper:hover {
  -webkit-transform: translateY(-5px) translateX(-3px);
}

.upcomingwrapper {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  width: 80%;
  margin: auto auto 20px auto;
}

.smallfont {
  margin: auto;
  font-size: 1.15rem;
}

.container {
  max-width: 80%;
  margin: auto;
}

.layout {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}
.layout .image {
  -webkit-box-flex: 1;
  flex: 1 0 100px;
  margin: 0 1% 1% 0;
}
.layout img {
  display: block;
  width: 100%;
}
.layout .image--5 {
  flex-basis: 100%;
}

.layout .image--2,
.layout .image--3,
.layout .image--3-of-5,
.layout .image--2-of-5 {
  flex-basis: 100%;
  max-height: 500px;
}

.layout .full {
  flex-basis: 100%;
  max-height: 500px;
}

.layout .description h1 {
  text-align: center;
}
.layout .description p {
  max-width: 80%;
  margin: 0 auto;
}

.navunderline {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease 0s;
  padding-left: 0px !important;
}

.featurette-heading {
  color: #31404f;
}

.whatwedoimg {
  max-width: 100%;
  max-height: 100vh;
  width: auto !important;
  margin: auto !important;
}

#navbarSupportedContent,
.navbar,
#headernav,
.collapse,
.navbar-collapse {
  background-color: transparent !important;
  width: 100% !important;
  transition: 0.4s ease-in-out;
}

#headernav {
  z-index: 9998 !important;
  position: fixed !important;
  height: 7vh !important;
  width: 100%;
}

.logo {
  padding-right: 50px;
  display: inline-block;
}

.nav-item {
  height: 50px;
  padding-right: 20px !important;
}

.jumbotron {
  padding: 10px !important;
}

html {
  scroll-behavior: smooth !important;
}

#bigTextFont {
  font-size: 50px !important;
  font-weight: 600;
  letter-spacing: 1px;
}

.textcolor:hover {
  border-bottom: 1px solid white;
}

.textcolor {
  font-size: 25px;
  transition: 0.3s ease-in-out;
  color: white !important ;
}

.dropdown-menu a {
  transition: 0.3s ease-in-out;
}

#navbarSupportedContent {
  padding: 5px !important;
  height: 75px !important;
}

.navbar-nav {
  text-align: center !important;
  display: block !important;
}

.myinput {
  margin-top: -4px !important;
  margin-bottom: 12px !important;
}
