@font-face {
  font-family: Poppins;
  src: url(./Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: Oswald;
  src: url(./Oswald/Oswald-VariableFont_wght.ttf);
}
/* footer starts here */
.footer {
  background: #152f4f;
  color: white;
}

.footer .links li a {
  color: white;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.footer .links li a:hover {
  text-decoration: none;
  color: #4180cb;
}
.footer .about-company i {
  font-size: 25px;
}
.footer .about-company a {
  color: white;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.footer .about-company a:hover {
  color: #4180cb;
}
.footer .location i {
  font-size: 18px;
}
.footer .copyright p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
/* footer ends here */
.copy {
  font-size: 12px;
  padding: 10px;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}

.social-network a.icoFacebook:hover {
  background-color: #3b5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44bcdd;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #f9f9f9;
}

li {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

.section {
  height: 100vh;
  width: 100%;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.container-fluid {
  padding: 0;
}

.myheader li a {
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 1.3rem !important;
}

.description p {
  text-align: center;
}

.footer-middle h4 {
  font-size: 3.1rem;
}

#whoweare p {
  margin: auto;
  font-size: 1.4rem;
  width: 63rem;
}

.box1 {
  width: 450px;
  height: 90vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
  grid-gap: 40px;
  padding: 60px 0;
}

.text--medium {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ecf0f1;
}

.text--small {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 10px;
  font-weight: 400;
  color: #ecf0f1;
}

.cards {
  border: 2px solid blue;
  grid-column: 2 / span 15;
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 60px));
  grid-gap: 40px;
}

.card {
  grid-column-end: span 4;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease 0s;
}

.joinbtn:hover {
  transform: translateY(-7px);
}

.joinbtn {
  transition: all 0.3s ease 0s;
}

.card__image-container {
  overflow: hidden;
}

.card__content {
  padding: 10px;
}

.card__content p {
  color: black !important;
  font-weight: 100 !important;
  font-family: Helvetica !important;
}
.card__title p {
  margin-bottom: 10px;
}

.card__info {
  display: flex;
  align-self: end;
  align-items: center;
}

.card__price {
  margin-left: auto;
  padding: 5px 20px;
  background-color: #303032;
  border-radius: 20px;
}

@media only screen and (max-width: 1000px) {
  .card {
    grid-column-end: span 6;
  }
}

@media only screen and (max-width: 700px) {
  main {
    grid-gap: 20px;
  }
  .card {
    grid-column-end: span 12;
  }
}

@media only screen and (max-width: 500px) {
  main {
    grid-template-columns: 10px repeat(6, 1fr) 10px;
    grid-gap: 10px;
  }
  .cards {
    grid-column: 2 / span 6;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }
  .card {
    grid-column-end: span 6;
  }
}

.fadein {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.appear {
  opacity: 1;
}

.fromleft {
  transform: translateX(-20%);
  transition: opacity 330ms ease-in, transform 330ms ease-in;
  opacity: 0;
}

.fromright {
  transform: translateX(20%);
  transition: opacity 330ms ease-in, transform 330ms ease-in;
  opacity: 0;
}

.fromleft.appear,
.fromright.appear {
  opacity: 1;
  transform: translateX(0);
}
.mycard {
  width: 380px;
  margin: 20px 20px 0px 20px;
  border-radius: 5px;
  position: relative;
  background-color: transparent;
}

.flexcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.breakformobile {
  flex-basis: 0%;
}

.break {
  flex-basis: 100%;
}

.mycontent {
  width: 100%;
}

.myimg {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.myimgsizing {
  overflow: hidden;
  width: 100%;
}

.mycontent p,
h4 {
  padding: 7px 0px 0px 0px;
}
.textcontent {
  padding: 50px;
}

.textcontent p:first-child {
  font-size: 50px !important;
  font-weight: 600;
  letter-spacing: -2px !important;
}

#content {
  width: 60vw !important;
  margin: auto;
}

.textcontent p {
  width: auto !important;
  font-size: 25px !important;
}

.behind5 {
  background-image: url("./assets/bigimgs/teamwork.jpg");

  width: 100vw;
  height: 100vh;

  position: relative;

  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.behind3 {
  background-image: url("./assets/bigimgs/welikeyoutoo.jpg");

  width: 100vw;
  height: 100vh;

  position: relative;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.behind4 {
  background-image: url("./assets/bigimgs/preview.jpg");

  width: 100vw;
  height: 100vh;

  position: relative;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.behind2 {
  background-image: url("./assets/bigimgs/haumc2.jpeg");

  width: 100vw;
  height: 100vh;

  position: relative;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landingpage {
  background-image: url("./assets/bigimgs/landingwallpaper.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 91vh;
  position: absolute;
  left: 0;
  top: 9vh;
}

.landingpagetext {
  text-align: center;
  font-size: 7rem;
  letter-spacing: -2px !important;
  font-weight: 900;
  color: white;
  font-family: "Oswald", sans-serif !important;
  letter-spacing: 8px;
}

.parallax1 {
  width: 100vw;
  height: 91vh;
  background-color: #272727;
  position: absolute;
  left: 0;
  top: 9vh;

  opacity: 0.4;
}

.ladningwrap p {
  z-index: 1;
}

.centerGrid {
  place-items: center;
  display: grid;
}

.ladningwrap {
  height: 100vh;
  width: 100vw;

  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.contactlist i {
  font-size: 25px;
}

.contactlist a {
  text-decoration: none !important;
  color: black !important;
}

.myheadingunderline {
  text-align: center;
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding: 0;
}

.myheadingunderline h1 {
  font-weight: 300;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}

html,
body {
  padding: 0 !important;
  margin: 0 !important;
  overflow-x: hidden;
}

.parallax1 {
  width: 100vw;
  height: 91vh;
  background-color: #272727;
  position: absolute;
  left: 0;
  top: 9vh;

  opacity: 0.4;
}

#whoweare {
  width: 100vw;
  height: 100vh;
  color: white;
}

.whoweareHeading {
  font-size: 50px !important;
  font-weight: 500;
  text-align: center;
}

#btnScroll {
  display: inline-block;
  background-color: #31404f;
  width: 50px;
  height: 51px;
  text-align: center;
  border-radius: 1px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#btnScroll::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#btnScroll:hover {
  cursor: pointer;
  background-color: #333;
}

#btnScroll:active {
  background-color: #555;
}

#btnScroll.show {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 500px) {
  #btnScroll {
    margin: 30px;
  }
}

/* Style inputs */
input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
  width: 70%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

select {
  background: url(./assets/inputs/arrow.png) no-repeat right;
  -webkit-appearance: none;
  background-position-x: 97%;
}

select::-ms-expand {
  display: none;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

input[type="text"],
input[type="email"],
select,
input[type="number"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}

.social-network a.icoInstagram:hover {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: -webkit-radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.social-network a.icoFacebook:hover {
  background-color: #3b5998;
}

.social-network a.icoPinterest:hover {
  background-color: #e60023;
}

.social-network a.icoTwitter:hover {
  background-color: #00acee;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoPinterest:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoInstagram:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44bcdd;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 50px;
  height: 49px;
  margin: 10px;
  font-size: 30px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #f9f9f9;
}

#scrolldown {
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 1;
  z-index: 10;
}

#scrolldown::after {
  content: "\f078";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#scrolldown:active {
  background-color: #555;
}

#scrolldown.show {
  opacity: 1;
  visibility: visible;
}

.scroll {
  -webkit-animation: scrolling 2s ease infinite;
  -moz-animation: scrolling 2s ease infinite;
  -o-animation: scrolling 2s ease infinite;
  animation: scrolling 2s ease infinite;
}

@keyframes scrolling {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translate(0, 20px);
  }

  100% {
    transform: translate(0);
  }
}

.contactlist p {
  font-weight: 100 !important;
}

.contactlist ul li {
  list-style: bullet !important;
  display: list-item !important;
}

.logobrand {
  width: 160px;
  padding: 0;
  margin: 0;
}

.navbar-collapse,
.navbar-nav,
.collapse,
.navbar {
  padding: 0 !important;
  width: 100%;
}

#events {
  position: relative;
  top: -100px;
}

#awards {
  position: relative;
  top: -100px;
}

#section4 {
  position: relative;
  top: -100px;
}

#findus {
  position: relative;
  top: -100px;
}

#contact {
  position: relative;
  top: -100px;
}

.textshadow {
  color: #202c2d;
  text-shadow: 0 1px #808d91, -1px 0 #cdd2d5, -1px 2px #808d91, -2px 1px #cdd2d5;
}

.box4 {
  background-color: #31404f;
  width: 100px;
}

.box2 {
  background-color: lightgray;
}

.centerflex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dateupcoming {
  padding: 0 !important;
  color: white;
}

.bigfont {
  font-size: 3.3rem;
}

.upcomingwrapper {
  width: 100%;
  margin: auto auto 20px auto;
}

.smallfont {
  margin: auto;
  font-size: 1.15rem;
}

* {
  box-sizing: border-box;
}

.toggle-bar {
  display: none;
  width: 100%;
  content: "";
  position: relative;
  clear: both;
  margin-bottom: 1%;
}

.icon {
  float: right;
  width: 10%;
  margin-left: 1%;
  font-size: 32px !important;
  border-bottom: 1px solid #fff;
}

.icon:hover {
  border-bottom: 1px solid #9e9e9e;
}
.icon svg {
  width: 100%;
}

.container {
  max-width: 80%;
  margin: auto;
}

.layout {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}
.layout .image {
  -webkit-box-flex: 1;
  flex: 1 0 100px;
  margin: 0 1% 1% 0;
}
.layout img {
  display: block;
  width: 100%;
}
.layout .image--5 {
  flex-basis: 100%;
}

.layout .image--2,
.layout .image--3,
.layout .image--3-of-5,
.layout .image--2-of-5 {
  flex-basis: 100%;
  max-height: 500px;
}
.description {
  margin-bottom: 40px !important;
}
.layout .description h1 {
  text-align: center;
}
.layout .description p {
  max-width: 80%;
  margin: 0 auto;
}

@media screen and (min-width: 601px) {
  .container {
    max-width: 80%;
  }

  .toggle-bar {
    display: inline-block;
  }

  .layout.layout--collage .image {
    position: relative;
    overflow: hidden;
  }
  .layout.layout--collage .image:hover .description {
    bottom: 0;
  }
  .layout.layout--collage .description {
    -webkit-transition: bottom 0.6s ease-in-out;
    transition: bottom 0.6s ease-in-out;
    padding: 5px 0 20px 0;
    margin: 0;
    position: absolute;
    width: 100%;
    max-height: 100%;
    bottom: -100%;
    left: 0;
    background-color: #fff;
    color: #2d2d2d;
    opacity: 0.8;
  }
  .layout.layout--collage .description h1 {
    font-size: 24px;
  }
  .layout.layout--collage .description p {
    font-size: 16px;
    max-width: 90%;
  }

  .layout.layout--collage .image--5 {
    flex-basis: 100%;
  }

  .layout.layout--collage .image--2 {
    flex-basis: 49%;
  }
  .layout.layout--collage .image--3 {
    flex-basis: 32%;
  }
  .layout.layout--collage .image--3-of-5 {
    flex-basis: 50%;
  }
  .layout.layout--collage .image--2-of-5 {
    flex-basis: 40%;
    position: relative;
    overflow: hidden;
  }
  .layout.layout--collage .image--2-of-5 img {
    position: absolute;
    height: 100%;
    width: auto;
  }
}

.navunderline {
  width: 100%;
  height: 100%;
  background-color: white;
  transition: all 0.5s ease 0s;
  color: #31404f !important;
  padding-left: 0px !important;
}

.navunderline:hover {
  border-bottom: 1px solid #31404f;
}

.outer2 {
  background: url("./assets/events/25457195 (2).jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100vh;
  width: auto !important;
  margin: auto !important;
  overflow: hidden;
}

.in2 {
  background-color: hsla(0, 0%, 100%, 1);
  height: 100%;
  opacity: 0.75;
  -webkit-transform: rotate(-80deg) translateY(-70%) translateX(0%);
}

.featurette-heading {
  color: #31404f;
}

.whatwedoimg {
  max-width: 100%;
  max-height: 100vh;
  width: auto !important;
  margin: auto !important;
}

/* header starts here */
#navbarSupportedContent,
.navbar,
#headernav,
.collapse,
.navbar-collapse {
  background-color: white !important;
  width: 100% !important;
}

#headernav li a {
  font-size: 25px;
  z-index: 0 !important;
  font-family: sans-serif;
}

#headernav {
  z-index: 9998 !important;
  position: fixed !important;
  height: 7vh !important;
  width: 100%;
}

#headernav li a {
  font-size: 25px;
  font-family: sans-serif;
}

.logo {
  padding-right: 50px;
  display: inline-block;
}

.nav-item {
  height: 50px;
  padding-right: 20px;
}

.social-network {
  float: right;
}

p span {
  color: white;
  text-shadow: 0 2px 2.896px #c4b59d, 0 -2px 1px #fff;
}

.jumbotron {
  padding: 10px !important;
}

html {
  scroll-behavior: smooth !important;
}

#bigTextFont {
  font-size: 70px !important;
  font-weight: 700;
  letter-spacing: 4px;
}
